* {
    box-sizing: border-box;
}

:root {
    --primary: rgb(61, 47, 47);
    --secondary: rgb(9, 156, 137);
    --tertiary: rgba(10, 7, 7, 0.925);
    --dark: rgb(0, 0, 0);
    --light: rgb(255, 255, 255);
}

body {
    margin: 0%;
    padding: 0%;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 50px 1% 50px 6%;
    margin: 0%;
    font-size: 4vw;
    line-height: 1;
}

.flex-item {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--light);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 20px 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode:multiply;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}